html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}


.top-container{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs{
  display: flex;
  justify-content: center;
  &__items{
    display: flex;
  }
  &__item{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #9a9ea2;
    padding-right: 20px;
    position: relative;
    &::after{
      position: absolute;
      content: "/";
      top: 1px;
      right: 7px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}