$header-color: #436372;
$footer-color: #7b7b7b;
$slider-color: #243f4d;
$delicatePink-color: #fef7f0;
$title-color: #191919;
$filter-color: #8b8b8b;
$blog-color: #262626;





%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%poppins-600{
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}
%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%title{
  font-size: 36px;
  color: #191919;
  text-align: center;
}

%checkbox-hidden{
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...){
  @return m#{a}x(#{$numbers...});
}
@function min($numbers...){
  @return m#{i}n(#{$numbers...});
}