@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 45px;
  }
}

.menu{
  margin-left: 20px;
  &__list{
    display: flex;
    justify-content: space-between;
    
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    color: $header-color;
  }
}

.user-nav{
  display: flex;
  justify-content: space-between;
  &__link-img{
    display: block;
    width: 100%;
  }
  &__link-search{
    background-color: #edf1f4;
    padding: 18px;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__join-inner{
    display: flex;
    padding: 20px 40px 13px 40px;
    background-color: #fcd7b6;
    border-radius: 25px;
  }
  &__link-heart{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-color: #fde7d3;
      height: 32px;
      width: 1px;
      right: -30px;
      bottom: -2px;
    }
  }
  &__link-cart{
    margin-left: 55px;
    position: relative;
  }
  &__num{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -14px;
    font-size: 12px;
    color: $slider-color;
    text-align: center;
    line-height: 20px;
  }
  &__link-menu{
    padding: 17px;
    background-color: #a3bbc8;
    margin-left: 20px;
    border-radius: 50%;
  }
}

.footer-top{
  padding: 80px 0 45px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  &__item-title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-top: 17px;
  }
  &__item-contact{
    max-width: 200px;
    width: 100%;
  }
  &__item-service,
  &__item-account{
    max-width: 170px;
    width: 100%;
  }
  &__item-newsletter{
    max-width: 270px;
    width: 100%;
  }
  &__item-link,
  &__adress-link,
  &__email-link,
  &__phone-link{
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: $footer-color;
    @extend %rubik-500;
  }
  &__item-services,
  &__item-account{
    margin-bottom: 17px;
  }
  &__adress-link{
    line-height: 24px;
    margin-top: 34px;
  }
  &__phone-link,
  &__email-link{
    margin-top: 20px;
  }
  &__item-text{
    font-size: 14px;
    line-height: 24px;
    color: $footer-color;
    @extend %rubik-500;
    margin-bottom: 35px;
  }
  &__form-input{
    padding: 12px 5px 12px 15px;
    @extend %dmsans-500;
    font-size: 12px;
    color: #234969;
    border: none;
    background-color: $delicatePink-color;
    width: 170px;
  }
  &__form-btn{
    padding: 9px 14px 10px 14px;
    margin-left: -4px;
    border: none;
    @extend %dmsans-500;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #a3bbc8;
  }
}

.footer-bottom{
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dae4e9;
  font-size: 14px;
  line-height: 32px;
  color: $footer-color;
  @extend %rubik-500;
  &__nav-item{
    color: inherit;
    position: relative;
  }
  &__nav-item + .footer-bottom__nav-item{
    margin-left: 30px;
    &::before{
      content: "";
      position: absolute;
      width: 1px;
      height: 15px;
      background-color: $footer-color;
      top: 0;
      left: -14px;
      bottom: 0;
    }
  }
}

.slider{
  &__inner{
    padding: 100px 185px 90px 300px;
    background-color: #fcd7b6;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__item-inner{
    margin-top: 120px;
  }
  &__title{
    font-size: 72px;
    line-height: 86px;
    color: $slider-color;
    @extend %rubik-500;
  }
  &__text{
    max-width: 370px;
    margin-top: 25px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %rubik-400;
  }
  &__btn{
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding: 20px 100px 20px 28px;
    @extend %rubik-500;
    background-color: #a3bbc8;
    position: relative;
    &::after{
      content: url('../images/icons/arrow-right.svg');
      position: absolute;
      top: 37%;
      right: 20px;
      width: 22px;
      height: 9px;
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  transform: translateX(-75px);
  & button{
    border: none;
    border-radius: 50%;
    background-color: #fde3cc;
    width: 30px;
    height: 30px;
    @extend %rubik-500;
    color: $slider-color;
    font-size: 11px;
  }
  & li + li{
    margin-left: 10px;
  }
}

.slick-active{
  button{
    background-color: #fff;
  }
}

.features{
  &__items{
    padding: 45px 150px 42px 145px;
    background-color: $delicatePink-color;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 285px;
    padding-left: 76px;
    position: relative;
    &::before{
      position: absolute;
      top: 12px;
      left: 0;
    }
    &:nth-child(1)::before{
        content: url('../images/support.svg');
        width: 51px;
        height: 53px;
      }
    &:nth-child(2){
      max-width: 296px;
      &::before{
        content: url('../images/delivery.svg');
        width: 54px;
        height: 36px;
      }
    }
    &:nth-child(3)::before{
        content: url('../images/secure.svg');
        width: 54px;
        height: 53px;
      }
  }
  &__text-title{
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    @extend %dmsans-400;
  }
}


.products{
  padding-top: 70px;
  padding-bottom: 90px;
  &__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
  }
  &__item{
    padding: 30px 43px 35px 42px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  &__descr,
  &__price{
    line-height: 40px;
    text-align: center;
    padding-bottom: 0;
  }
  &__descr{
    font-size: 14px;
    color: $slider-color;
    @extend %dmsans-500;
  }
  &__price{
    color: #a3bbc8;
    font-size: 16px;
    @extend %dmsans-700;
  }
  &__tips{
    position: absolute;
    max-width: 170px;
    width: 100%;
    top: 51%;
    display: flex;
    justify-content: space-between;
    transform: translateY(500%);
    transition: all .3s;
  }
  &__tip{
    background-color: #fefefe;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: all .3s;
    svg{
      transform: translate(12px, 14px);
    }
    &:hover{
      background-color: #a3bbc8;
      path{
        fill: #f9fafb;
      }
    }
  }
}

.products__item:hover{
  .products__tips{
    transform: translateY(0);
  }
}

.filter{
  display: flex;
  justify-content: center;
  & li+li{
    margin-left: 30px;
  }
  &-btn{
    border: none;
    background-color: #fff;
    @extend %dmsans-700;
    font-style: 16px;
    color: $filter-color;
  }
}

ul.filter{
  margin-top: 35px;
  margin-bottom: 80px;
}

.title{
  @extend %dmsans-700;
  @extend %title;
}

.features-product{
  padding-top: 90px;
  padding-bottom: 50px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 870px;
    width: 100%;
    height: 390px;
    padding: 90px 135px 120px 390px;
    background-color: #feefe2;
    position: relative;
  }
  &__item + .features-product__item{
    margin-left: 30px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $slider-color;
    margin-bottom: 30px;
  }
  &__item-descr{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $slider-color;
    margin-bottom: 48px;
  }
  &__item-link{
    @extend %rubik-500;
    color: $header-color;
    font-size: 15px;
    padding: 23px 85px 23px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    position: relative;
    &::after{
      position: absolute;
      content: url('../images/icons/arrow-right2.svg');
      right: 20px;
    }
  }
  &__item-img{
    position: absolute;
    left: 110px;
    top: -95px;
  }
}

.category{
  padding-top: 50px;
  padding-bottom: 60px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
    grid-column-gap: 30px
  }
  &__item{
    max-width: 370px;
    width: 100%;
    height: 245px;
    padding-top: 40px;
    padding-left: 40px;
  }
  &__item-title{
    font-size: 20px;
    @extend %dmsans-700;
    max-width: 172px;
  }
  &__item-subtitle{
    font-size: 16px;
    @extend %dmsans-700;
    color: #a3bbc8;
    margin-top: 15px;
  }
}

.video{
  padding-top: 60px;
  padding-bottom: 60px;
  &__inner{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog{
  padding-top: 60px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title{
    text-align: left;
  }
  &__view-all{
    font-size: 16px;
    @extend %dmsans-700;
    color: $blog-color;
    padding-right: 25px;
    position: relative;
    &::after{
      position: absolute;
      content: ">";
      font-size: 24px;
      line-height: 21px;
      right: 0;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    min-height: 420px;
    background-color: #fff;
    border-radius: 5px;
  }
  &__item + .blog__item{
    margin-left: 30px;
  }
  &__item-title{
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 30px;
    color: #fff;
    background-color: #a3bbc8;
    border-radius: 20px;
    display: inline-block;
    transform: translateY(-17px);

  }
  &__item-descr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
  }
  
  &__item-link{
    @extend %dmsans-500;
    font-size: 18px;
    color: $blog-color;
    max-width: 290px;
    margin-bottom: 15px;
  }
  &__item-bottom{
    padding: 20px 60px 25px 5px;
    border-top: 1px solid #e0e0e0;
    margin-top: auto;
    margin-bottom: 0px;
  }
  &__item-info{
    display: flex;
    justify-content: space-between;
    list-style-type: disc !important;
    font-size: 12px;
    line-height: 30px;
    @extend %rubik-400;
    color: #222933;
  }
  &__item-date{
    margin-left: 15px;
  }
  
  &__item-title,
  &__item-descr{
    margin-left: 30px;
  }

  &__item:nth-child(3){
    .blog__item-bottom{
      margin-top: 25px;
    }
  }
}

.client{
  height: 435px;
  background-color: $delicatePink-color;
  vertical-align: bottom;
  margin-top: -198px;
  &__inner{
    transform: translateY(310%);
    width: 100%;
  }
  &__logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.top{
  padding: 30px 0;
  background-color: #edf1f4;
  text-align: center;
  &__title{
    @extend %rubik-300;
    font-size: 36px;
    color: #222933;
    margin-bottom: 10px;
  }
}

.modal{
  padding-top: 105px;
  padding-bottom: 140px;
  &__form{
    max-width: 470px;
    width: 100%;
    margin: 0 auto 30px;
  }
  &__label {
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__input {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 26px;
    height: 60px;
    padding: 7px 5px;
    border: 1px solid #f6f6f6;
  }
  &__btn {
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
    @extend %rubik-500;
    color: #fff;
    background-color: #a3bbc8;
    border: none;
    margin: 36px 0 30px;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
  &__link{
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
}

.register {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #f6f6f6;
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  }
  .register__text {
    margin-bottom: 45px;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  .register__link {
    @extend %rubik-500;
    color: $slider-color;
    padding: 20px 155px;
    border: 1px solid #a3bbc8;
  }

  .partners{
    height: 250px;
    background-color: $delicatePink-color;
    padding: 75px 0;
    &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .terms{
    color: $slider-color;
    padding-top: 115px;
    &__inner{
      max-width: 1200px;
      margin: 0 auto;
      .terms__list{
        margin-left: 7px;
        margin-bottom: 50px;
      }
    }
    &__title{
      font-size: 24px;
      line-height: 40px;
      @extend %rubik-500;
      margin-bottom: 17px;
    }
    &__list{
      counter-reset: number;
      
    }
    &__item{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 20px;
      &::before{
        counter-increment: number;
        content: "0" counter(number) ". ";
      }
      &:nth-child(n+10){
        &::before{
          content: counter(number) ". ";
        }
      }
    }
    &__text{
      margin-bottom: 60px;
    }
  }

  .about{
    padding: 120px 0;
    &__inner{
      display: flex;
      justify-content: space-between;
    }
    &__info{
      padding: 70px 0 85px 45px;
    }
    &__info-number{
      display: inline-block;
      @extend %rubik-700;
      font-size: 140px;
      color: #a3bbc8;
    }
    &__info-suptext{
      display: inline-block;
      max-width: 90px;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
      margin-left: 25px;
    }
    &__info-title{
      @extend %dmsans-700;
      font-size: 36px;
      color: $slider-color;
    }
    &__info-text{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
    }
    &__items{
      margin-top: 60px;
      border-top: 1px solid #e6eaf0;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
    }
    &__item{
      padding-left: 60px;
      position: relative;
      &:nth-child(1){
        &::before{
          position: absolute;
          content: "";
          background-image: url('../images/about/icon1.svg');
          width: 37px;
          height: 38px;
          top: 10px;
          left: 0;
        }
        &::after{
          position: absolute;
          content: "";
          width: 1px;
          height: 80px;
          background-color: #e6eaf0;
          top: -8px;
          right: -29px;
        }
      }
      &:nth-child(2){
        &::before{
          position: absolute;
          content: "";
          background-image: url('../images/about/icon2.svg');
          top: 10px;
          left: 0;
          width: 43px;
          height: 39px;
        }
        &::after{
          position: absolute;
          content: "";
          width: 1px;
          height: 80px;
          background-color: #e6eaf0;
          top: -8px;
          right: -29px;
        }
      }
      &:nth-child(3){
        &::before{
          position: absolute;
          content: "";
          background-image: url('../images/about/icon3.svg');
          top: 10px;
          left: 0;
          width: 42px;
          height: 40px;
        }
      } 
    }
    &__item-title{
      @extend %dmsans-700;
      font-size: 36px;
      line-height: 38px;
      color: $slider-color;
    }
    &__item-subtitle{
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 17px;
      color: #4c4c4c;
    }
  }

  .widgets{
    background-color: #fcd7b6;
    padding: 90px 0 80px;
    &__items{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
    }
    &__item-img{
      margin-bottom: 10px;
    }
    &__item-title{
      @extend %dmsans-700;
      font-size: 36px;
      color: $slider-color;
      margin-bottom: 5px;
    }
    &__item-subtitle{
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 32px;
      color: $slider-color;
    }
  }

  .team{
    padding-top: 120px;
    &__inner{
      display: flex;
      justify-content: space-between;
    }
    &__descr{
      max-width: 315px;
      width: 100%;
    }
    &__descr-title{
      @extend %dmsans-700;
      font-size: 36px;
      color: $slider-color;
      margin-bottom: 30px;
    }
    &__descr-text{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
    }
    &__descr-link{
      @extend %poppins-600;
      font-size: 15px;
      line-height: 55px;
      padding: 15px 65px 15px 25px;
      background-color: #a3bbc8;
      border-radius: 5px;
      color: #ffffff;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        background-image: url('../images/icons/arrow-right3.svg');
        width: 15px;
        height: 11px;
        top: 21px;
        right: 25px;
      }
    }
    &__items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px
    }
    &__item-inner{
      padding: 20px 20px 25px 25px;
      max-width: 325px;
      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      transform: translateY(-35px);
    }
    &__item-name{
      @extend %dmsans-700;
      font-size: 22px;
      line-height: 26px;
      color: $header-color;
    }
    &__item-position{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
    }
    &__item-link{
      display: inline-block;
    }
    &__item-link + .team__item-link{
      margin-left: 7px;
    }
  }

  .shop{
    padding: 120px 0;
    &__inner{
      display: flex;
      justify-content: space-between;
    }
  }

  .shop-filter{
    max-width: 270px;
    width: 100%;
  }

  .filter-category{
    margin-bottom: 65px;
    &__label {
      display: block;
      cursor: pointer;
      
    }
    &__text {
      @extend %rubik-400;
      font-size: 16px;
      color: $slider-color;
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-category__box{
          background-color: #edf1f4;
      }
    }
    &__box{
      position: relative;
      width: 100%;
      padding: 10px 22px 10px 16px;
      border-radius: 5px;
    }
    &__checkbox {
      width: 5px;
      height: 10px;
      position: absolute;
      right: 0;
      background-image: url('../images/icons/angle-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
      margin-top: 5px;
      margin-right: 23px;
    }
  }

  .filter-price{
    margin-bottom: 70px;
    &__span{
      color: $slider-color;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    &__span-box:nth-child(2){
      margin-right: 8px;
    }
  }

  .irs-min,
  .irs-max,
  .irs-from,
  .irs-to{
    display: none;
  }

  
  .irs--flat .irs-line{
    height: 1px;
    max-width: 270px;
    width: 100%;
    background-color: #c2d2db;
  }
  .irs--flat .irs-bar{
    height: 2px;
    background-color: #a3bbc8;
  }
  .irs--flat .irs-handle>i:first-child{
    width: 15px !important;
    height: 15px !important;
    margin-top: -4px;
    background-color: #a3bbc8;
  }

  .irs--flat .irs-handle .to,
  .irs--flat .irs-handle .from{
    &:hover{
      background-color: #a3bbc8;
    }
  }
  

  .filter-brand{
    margin-bottom: 55px;
    &__label {
      display: block; 
      &:nth-child(3){
        .filter-brand__checkbox{
          margin-right: 4px;
        }
      }
      &:nth-child(5){
        .filter-brand__checkbox{
          margin-right: 4px;
        }
      }
    }
    &__box{
      padding: 10px 22px 10px 16px;
      width: 100%;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
    }
    &__text,
    &__checkbox{
      @extend %rubik-400;
      font-size: 16px;
      color: $slider-color;
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-brand__box{
        background-color: #edf1f4;
      } 
    }
    &__checkbox{
      text-align: center;
    }
    
  }  

  .recent{
    &__items{
      max-width: 180px;
      width: 100%;
    }
    &__item{
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
    &__img{
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f2f2f2;
    }
    &__item-inner{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__item-title{
      @extend %rubik-400;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
    }
    &__item-price{
      @extend %rubik-400;
      font-size: 15px;
      line-height: 27px;
      color: #333333;
    }
  }

  .jq-ry-container{
    padding: 0;
  }
  .jq-ry-group{
    svg{
      margin-right: 6px;
    }
  }

  .chair{
    padding: 30px 61px 35px 60px;
    &-2{
      padding: 30px 65px 35px 65px;
    }
  }
  
  .shop-content{
    max-width: 870px;
    &__items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 75px;
      
    }
    &__item{
      max-width: 270px;
      margin-bottom: 40px;
      margin-left: 20px;
    }
  }

  .shop-big{
    margin-left: 30px;
    margin-bottom: 30px;
    &__item{
      display: flex;
      height: 500px;
      margin-bottom: 40px;
    }
    &__img{
      max-width: 370px;
      padding: 75px 23px 70px;
      border: 1px solid #f2f2f2;
    }
    &__item-content{
      max-width: 470px;
      margin-left: 30px;
      padding: 75px 25px 70px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__title{
      @extend %rubik-400;
      font-size: 40px;
      color: #333333;
    }
    .star1{
      margin-bottom: 20px;
    }
    &__price{
      @extend %rubik-400;
      font-size: 30px;
      color: #333333;
    }
    &__descr{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
    }
    &__buttons{
      display: flex;
      justify-content: space-between;
      max-width: 111px;
    }
    // &__cart--big{
    //   display: none;
    // }
    // &__cart-link--big{
    //   @extend %rubik-400;
    //   font-size: 15px;
    //   line-height: 30px;
    //   color: #fff;
    //   padding: 13px 50px;
    //   background-color: #a3bbc8;
    //   border-radius: 5px;
    // }
    &__cart,
    &__heart{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 15px 13px;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      &:hover{
        path{
          fill: #fff;
        }
        background-color: #a3bac7;
      }
    }
    
  }
  // .shop-big__cart:hover{
  //   display: none;
  //   .shop-big__buttons{
  //     max-width: 275px;
  //   }
  //   .shop-big__cart--big{
  //     display: block;
  //   }
  // }

  .related{
    padding: 50px 0 40px;
    &__title{
      @extend %dmsans-700;
      font-size: 36px;
      color: $slider-color;
      margin-bottom: 30px;
    }
    &__items{
      display: flex;
      justify-content: space-between;
    }
    &__item{
      margin-top: 40px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px;
      padding: 40px 25px 35px 25px;
      height: 380px;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      &:hover{
        .products__tips{
          transform: translateX(30px);
        }
      }
      
    }
    &__slider{
      .slick-prev,
      .slick-next{
        position: absolute;
        top: -70px;
        // transform: translateY(-50%);
        z-index: 5;
        width: 50px;
        height: 50px;
        margin-left: 20px;
        border: 2px solid #a3bbc8;
        border-radius: 5px;
        cursor: pointer;
        background-color: #fff;
        outline: none;
      }
      .slick-prev{
        right: 70px;
      }
      .slick-next{
        right: 0;
      }
      .slick-disabled{
        border-color: #eef2f5;
      }
    }
  }

  .product-page{
    padding: 120px 0 60px;
  }

  .product-one{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
    &__descr{
      margin-left: 70px;
    }
    &__title{
      @extend %rubik-400;
      font-size: 40px;
      color: #333333;
      margin-bottom: 20px;
    }
    .jq-ry-group svg {
      margin-right: 15px;
    }
    .star1{
      margin-bottom: 30px;
    }
    &__price{
      @extend %rubik-400;
      font-size: 30px;
      line-height: 40px;
      color: #333333;
      margin-bottom: 25px;
    }
    &__text{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
      margin-bottom: 32px;
    }
    .add-cart{
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }
    &__info{
      margin-top: 50px;
    }
    &__info-title,
    &__info-text{
      display: inline-block;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
    }
    &__link{
      @extend %rubik-400;
      font-size: 15px;
      line-height: 30px;
      color: #fff;
      padding: 10px 50px;
      background-color: #a3bbc8;
      margin-left: 15px;
      border-radius: 5px;
    }
    .jq-number{
      padding: 0 50px;
      position: relative;
    }
    &__num{
      border-radius: 0;
      & input{
        border: 1px solid #a3bbc8;
      }
    }
    .jq-number__field{
      width: 50px;
      height: 50px;
      border-radius: 0;
      border-color: #a3bbc8;
      input{
        text-align: center;
        font-size: 15px;
        line-height: 45px;
        @extend %rubik-400;
        padding: 4px 9px;
        width: 50px;
        height: 50px;
      }
    }
    .jq-number__spin{
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border: 1px solid #a3bbc8;
      border-bottom-color: none;
      border-radius: 0;
      background: none;
      background: none;
      background: none;
      box-shadow: none;
      user-select: none;
      text-shadow: none;
      cursor: pointer;
      &::after{
        content: "";
        position: absolute;
        top: 24px;
        left: 21px;
        width: 7px;
        height: 1px;
        border-right: none;
        border-bottom: none;
        border-left: none;
        background-color: #333333;
      }
      &.minus{
        border-right: none;
        left: 0;
        &::after{
          content: "";
          top: 50%;
          left: 45%;
          width: 6px;
          height: 1px;
          // border-right: none;
          // border-bottom: none;
          // border-left: none;
          background-color: #333333;
        }
      }
      &.plus{
        border-left: none;
        &::before{
          content: "";
          position: absolute;
          width: 1px;
          height: 7px;
          background-color: #333333;
          top: 21px;
          left: 24px;
        }
      }
    }
    .slider-photos{
      &__thumb{
        .slick-list{
          height: 530px !important;
        }
      }
    }
  }

.jq-number__spin.minus:after {
  border-top: none;
}

  .slider-photos{
    display: flex;
    .slick-vertical .slick-slide {
     height: 140px;
     margin-bottom: 45px;
    }
    &__thumb{
      width: 135px;
      margin-right: 30px;
    }
    &__thumb-item{
      width: 135px;
      height: 160px;
      cursor: pointer;
      border: 1px solid #f2f2f2;
      img{
        width: 105px;
        height: 155px;
        object-fit: cover;
        margin: 0 auto;
      }
    }
    &__big{
      max-width: 385px;
      width: 100%;
      height: 530px;
      display: flex;
      align-items: center;
      padding-left: 75px;
      border: 1px solid #f2f2f2;
      img{
        width: 230px;
        height: 405px;
        object-fit: cover;
      }
    }
  }

  .product-tabs{
    padding-top: 50px;
    &__top{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
    &__link{
      @extend %rubik-500;
      font-size: 18px;
      line-height: 40px;
      color: $slider-color;
      background-color: #edf1f4;
      padding: 10px;
      border-radius: 5px;
      display: inline-block;
      width: 240px;
      text-align: center;
      &--active{
        color: #fff;
        background-color: #a3bbc8;
      }
      & + .product-tabs__link{
        margin-left: 15px;
      }
    }
    &__content-item{
      display: none;
      &.product-tabs__content-item--active{
        display: block;
      }
    }
    &__content-text{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
    }
  }


  .blog-page{
    padding: 120px 0;
    &__aside{
      width: 270px;
    }
    &__inner{
      display: flex;
      justify-content: space-between;
    }
    &__aside-label{
      display: flex;
      margin-bottom: 50px;
    }
    &__search-input{
      max-width: 222px;
      width: 100%;
      border: 1px solid #edf1f4;
      border-right: none;
      border-radius: 5px;
      padding: 5px;
      padding-right: 10px;
      outline: none;
    }
    &__search-btn{
      padding: 15px;
      background-color: #edf1f4;
      border-radius: 5px;
      margin-left: -7px;
    }
    .recents{
      &__item{
        display: flex;
        margin-bottom: 22px;
      }
      &__item-img{
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
      &__item-inner{
        margin-left: 20px;
      }
      &__item-text{
        @extend %rubik-400;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        margin-bottom: 10px;
      }
      &__item-date{
        text-transform: uppercase;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        color: #9a9a9a;
        padding-left: 20px;
        position: relative;
        &::before{
          position: absolute;
          content: "";
          background-image: url("../images/icons/calendar-icon.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 13px;
          height: 14px;
          top: 7px;
          left: 0;
        }
      }
    }
    &__content-item{
      margin-bottom: 50px;
    }
    &__img-box{
      position: relative;
      margin-bottom: 30px;
    }
    &__content-img{
      width: 830px;
      height: 500px;
      object-fit: cover;
    }
    &__img-info{
      display: flex;
      width: 275px;
      padding: 25px 30px 25px 20px;
      background-color: #a3bbc8;
      color: #fff;
      @extend %rubik-400;
      font-size: 12px;
      line-height: 30px;
      text-transform: uppercase;
      margin-top: -80px;
      position: absolute;
    }
    &__info-date{
      svg{
        transform: translateY(3px);
      }
      path{
        fill: #fff;
      }
    }
    &__info-author{
      margin-left: 25px;
      svg{
        transform: translateY(3px);
      }
      path{
        fill: #fff;
      }
    }
    &__content-title{
      @extend %rubik-400;
      font-size: 36px;
      color: #333333;
      margin-bottom: 20px;
    }
    &__content-text{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
      max-width: 800px;
      width: 100%;
      margin-bottom: 35px;
    }
    &__content-more{
      font-size: 15px;
      @extend %rubik-400;
      line-height: 30px;
      color: #a3bbc8;
      padding: 20px 90px 20px 20px;
      border: 1px solid #a3bbc8;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        background-image: url('../images/icons/arrow-right-blog.svg');
        width: 22px;
        height: 9px;
        right: 19px;
        top: 45%;
      }
    }
    &__pagination{
      margin-top: 100px;
      margin-left: -8px;
    }
  }

  .blog-one{
    &__item{
      width: 828px;
    }
    &__content-subtitle{
      @extend %rubik-500;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
      margin-bottom: 20px;
    }
    &__content-text{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
      width: 100%;
    }
    &__box-img--left{
      float: left;
      margin-right: 25px;
    }
    &__box-img--right{
      float: right;
      margin-left: 25px;
    }
    &__box{
      margin: 45px 0 40px;
    }
    &__box-descr{
      padding: 20px 0 25px 0;
    }
    &__blockquote{
      background-color: #edf1f4;
      border-left: 6px solid #a3bbc8;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $slider-color;
      padding: 15px 100px 20px 35px;
    }
    &__blockquote-author{
      display: block;
      margin-top: 10px;
      padding-left: 40px;
      position: relative;
      &::before{
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background-color: #a3bbc8;
        left: 0;
        top: 50%;
      }
    }
    &__author{
      display: flex;
      justify-content: space-between;
      padding: 24px 20px 26px 0;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      margin-top: 60px;
      @extend %rubik-400;
      color: #999999;
    }
    &__author-descr{
      display: flex;
    }
    &__author-img{
      margin-right: 28px;
    }
    &__descr-inner{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__author-name{
      @extend %rubik-500;
      font-size: 18px;
      line-height: 25px;
      color: #333;
    }
    &__author-tags{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 16px;
      line-height: 26px;
      
    }
    &__tags-list{
      a{
        display: inline-block;
        font-size: inherit;
        line-height: inherit;
        color: #999999;
      }
      span{
        color: #333;
        margin-right: 30px;
      }
    }
    &__share-list{
      span{
        color: #333;
        
      }
      a{
        display: inline-block;
        margin-left: 20px;
      }
    }
    &__form{
      padding-top: 40px;
    }
    &__form-title{
      @extend %rubik-700;
      font-size: 24px;
      line-height: 36px;
      color: #436372;
      margin-bottom: 55px;
    }
    &__input-name{
      width: 400px;
      margin-right: 30px;
      padding: 6px 40px 6px 20px;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 36px;
      color: #999999;
      border: 1px solid #e5e5e5;
      outline: none;
      margin-bottom: 20px;
      position: relative;
      &:focus{
        color: #333333;
        border: 1px solid #a3bbc8;
      }
      // &::after{
      //   position: absolute;
      //   content: "";
      //   right: 0;
      //   top: 0;
      //   background-image: url(../images/icons/user-blog.svg);
      //   width: 14px;
      //   height: 13px;
      // }
      &[placeholder]{
        background-image: url(../images/icons/user-blog.svg);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
      }
    }
    &__input-email{
      width: 400px;
      padding: 6px 40px 6px 20px;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 36px;
      color: #999999;
      border: 1px solid #e5e5e5;
      outline: none;
      &:focus{
        color: #333333;
        border: 1px solid #a3bbc8; 
      }
      &[placeholder]{
        background-image: url(../images/icons/email.svg);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
      }
    }
    &__form-textarea{
      display: block;
      width: 100%;
      height: 120px;
      resize: none;
      padding: 6px 40px 6px 20px;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 36px;
      color: #999999;
      outline: none;
      border: 1px solid #e5e5e5;
      margin-bottom: 40px;
      &:focus{
        color: #333333;
        border: 1px solid #a3bbc8; 
      }
      &[placeholder]{
        background-image: url(../images/icons/comment.svg);
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 17%;
      }
    }
    &__form-button{
      padding: 14px 35px;
      @extend %rubik-400;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      background-color: #a3bbc8;
      border: none;
      cursor: pointer;
    }
  }

  .comments{
    padding: 55px 0 15px;
    &__title{
      @extend %rubik-700;
      font-size: 24px;
      line-height: 36px;
      color: #436372;
      margin-bottom: 55px;
    }
    &__item{
      display: flex;
      margin-bottom: 25px;
    }
    &__item-img{
      margin-right: 30px;
      width: 100px;
      height: 100px;
    }
    &__item-top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__author-name{
      @extend %rubik-700;
      font-size: 16px;
      color: #436372;
    }
    &__author-date{
      @extend %rubik-400;
      font-size: 14px;
      color: #9e9e9e;
    }
    &__author-text{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: #565872;
      margin-bottom: 20px;
    }
    &__author-reply{
      @extend %rubik-400;
      font-size: 14px;
      color: #565872;
      position: relative;
      padding-right: 28px;
      &::after{
        position: absolute;
        content: "";
        background-image: url(../images/icons/arrow-right2.svg);
        right: 0;
        top: 30%;
        width: 22px;
        height: 9px;
      }
    }
    &__item--anwser{
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      margin-left: 130px;
      padding: 30px 0;
    }
  }
  
  
  

  
  




@import 'media';